{:tasks {:requires ([babashka.process :refer [shell process exec]]
                    [babashka.fs :as fs]
                    [clojure.string :as str])

         dev (do
                       (clojure (str "-M -m kusachi.main " (str/join " " *command-line-args*))))

         dev:nrepl (do (clojure "-M:dev -m kusachi.nrepl"))

         migrate-all (do (clojure "-M:dev -e '(ragtime-migrate-all)'"))

         format-check (do (clojure "-M:format -m cljfmt.main check ."))
         format-fix (do (clojure "-M:format -m cljfmt.main fix ."))
         lint (do (clojure "-M:lint -m clj-kondo.main --lint ."))
         outdated (do (clojure "-M:outdated"))
}}
