pre {
  padding: 5pt 5pt;
  margin: 0;
  border: 2px transparent solid;
  overflow-y: scroll;
  display: inline-block;
  max-width: 100%;
}

.arborium-wrapper {
  padding: .5rem;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
}

:not(pre) > code {
  padding: .1rem .25rem;
}
