@use "sass:map";
@use "sass:color";
@use "utility";

$theme: dark !default;

$themes: (
  light: (
    bg: #fcfcfc,
    fg: #333,
    border: #333,
    code: #eee,
    bodyfuzz: #ccc,
    heading: #111,
    a-hover: #16b1bd,
    a-link: #37DCE8,
    a-visited: #3784e8,
    lightness: -5%,
  ),
  dark: (
    bg: #141414,
    fg: #ddd,
    border: #ddd,
    code: #282828,
    bodyfuzz: #505050,
    heading: #eee,
    a-hover: #16b1bd,
    a-link: #37DCE8,
    a-visited: #3784e8,
    lightness: 5%,
  )
);

@function theme-get($name, $theme: $theme) {
  @return map.get(
    map.get($themes, $theme),
    $name
  );
}

@mixin link_state($name, $theme: $theme) {
  $color: theme-get("a-link", $theme);
  @if $name == "link" {
    a, a:#{$name} {
      color: theme-get("fg", $theme);
      border-bottom: 2px solid $color;
    }
  }
  @else {
    a:#{$name} {
      color: theme-get("fg", $theme);
      @if $name == "hover" {
        background-color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
  a:#{$name} {
    @include utility.headings {
      color: theme-get("fg", $theme);
      @if $name == "hover" {
        border-bottom: 2px solid $color;
      }
    }
  }
}

hr {
  border: none;
  border-top: 3px double transparent;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  content: "✩";
  padding: 0 4px;
  position: relative;
  top: -15px;
}


@mixin set-colors($theme: $theme) {
  color: theme-get(fg, $theme);
  background: color.scale(theme-get(bg, $theme), $lightness: theme-get(lightness, $theme));
  body, main, footer, header {
    background: theme-get(bg, $theme);
  }

  hr {
    color: theme-get(border, $theme);
    border-top-color: theme-get(border, $theme);
    &::after {
      background: theme-get(bg, $theme);
      color: theme-get(fg, $theme);
    }
  }

  body div.body-wrapper {
    box-shadow: theme-get(bodyfuzz, $theme) 0rem 0rem 1rem 1rem;
  }
  @include utility.headings {
    color: theme-get(heading, $theme);
  }
  /*pre {
    background: theme-get(code, $theme);
    border-color: theme-get(border, $theme);
  }*/
  $link_states: "link", "visited", "hover";
  @each $name in $link_states {
    @include link_state($name, $theme);
  }
}

html {
  @include set-colors;
}

@media (prefers-color-scheme: dark) {
  html {
  @include set-colors(dark);
  }
}

@media (prefers-color-scheme: light) {
  html {
    @include set-colors(light);
  }
}

html:has(#color-scheme-dark:checked) {
  @include set-colors(dark);
}

html:has(#color-scheme-light:checked) {
  @include set-colors(light);
}
