@use "sass:map";
@use "sass:color";
@use "utility";

$theme: dark !default;

$themes: (
  light: (
    opposite: dark,
    bg: #fcfcfc,
    fg: #333,
    border: #333,
    code: #eee,
    bodyfuzz: #ccc,
    heading: #111,
    a-hover: #16b1bd,
    a-link: #37DCE8,
    a-visited: #3784e8,
    lightness: -5%,
  ),
  dark: (
    opposite: light,
    bg: #141414,
    fg: #ddd,
    border: #ddd,
    code: #282828,
    bodyfuzz: #505050,
    heading: #eee,
    a-hover: #16b1bd,
    a-link: #37DCE8,
    a-visited: #3784e8,
    lightness: 5%,
  )
);

@function theme-get($name, $theme: $theme) {
  @return map.get(
    map.get($themes, $theme),
    $name
  );
}

@mixin link_state($name, $theme: $theme) {
  $color: theme-get("a-link", $theme);
  @if $name == "link" {
    a, a:#{$name} {
      color: theme-get("fg", $theme);
      border-bottom: 2px solid $color;
    }
  }
  @else {
    a:#{$name} {
      color: theme-get("fg", $theme);
      @if $name == "hover" {
        background-color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
  a:#{$name} {
    @include utility.headings {
      color: theme-get("fg", $theme);
      @if $name == "hover" {
        border-bottom: 2px solid $color;
      }
    }
  }
}

hr {
  border: none;
  border-top: 3px double transparent;
  overflow: visible;
  text-align: center;
  height: 5px;
  &::after {
    content: "✩";
    padding: 0 4px;
    position: relative;
    top: -15px;
  }
}


@mixin set-colors($theme: $theme) {
  color: theme-get(fg, $theme);
  background: color.scale(theme-get(bg, $theme), $lightness: theme-get(lightness, $theme));
  body, main, footer, header {
    background: theme-get(bg, $theme);
  }

  blockquote {
    border-left-color: theme-get(border, $theme);
  }

  aside {
  box-shadow: 0 0 .2rem .2rem theme-get(fg, $theme);
  }

  pre, code {
    background: var(--arb-bg-#{$theme}, var(--arb-bg-#{theme-get(opposite, $theme)}));
    color: var(--arb-fg-#{$theme}, var(--arb-fg-#{theme-get(opposite, $theme)}));
  }
  pre, :not(pre) > code {
    border: 2px solid var(--arb-fg-#{$theme}, var(--arb-fg-#{theme-get(opposite, $theme)}));
  }

  article {
    a:has(img) img {
      border-bottom-color: theme-get(a-link, $theme);
      &:hover {
        border-bottom-color: theme-get(a-hover, $theme);
      }
    }
  }

  #taglist a {
    .counter {
      border-left: 1px solid theme-get(border, $theme);
    }
    border: 1px solid theme-get(border, $theme);
    color: theme-get(fg, $theme);
  }

  hr {
    color: theme-get(border, $theme);
    border-top-color: theme-get(border, $theme);
    &::after {
      background: theme-get(bg, $theme);
      color: theme-get(fg, $theme);
    }
  }

  body div.body-wrapper {
    box-shadow: theme-get(bodyfuzz, $theme) 0rem 0rem 1rem 1rem;
  }

  @include utility.headings {
    color: theme-get(heading, $theme);
  }

  $link_states: "link", "visited", "hover";
  @each $name in $link_states {
    @include link_state($name, $theme);
  }

  img#avatar {
    border-color: theme-get(border, $theme);
    box-shadow: 0 0 .2rem .2rem theme-get(bodyfuzz, $theme);
  }

  header nav .logo {
    a {
      border-bottom: initial !important;
      &:hover {
        background-color: initial !important;
      }
    }
    img {
      filter: drop-shadow(0rem 0rem .2rem theme-get(bodyfuzz, $theme)) !important;
    }
  }
}

html {
  @include set-colors;
}

@media (prefers-color-scheme: dark) {
  html {
    @include set-colors(dark);
    #taglist a:hover {
      color: theme-get(bg, $theme);
    }
  }
}

@media (prefers-color-scheme: light) {
  html {
    @include set-colors(light);
  }
}

html:has(#color-scheme-dark:checked) {
  @include set-colors(dark);
  #taglist a:hover {
    color: theme-get(bg, $theme);
  }
}

html:has(#color-scheme-light:checked) {
  @include set-colors(light);
}
