@use "reset";
@use "utility";
@use "margin";
@use "padding";
@use "sticky-footer";
@use "container";
@use "typography";
@use "code";
@use "colouring";

header nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  @include utility.headings {
    margin: unset;
    padding: unset;
  };

  .logo {
    vertical-align: middle;
    a {
      border-bottom: initial;
      &:hover {
        background-color: initial;
      }
    }
    img, h1 {
      display: inline-block;
    }
    img {
      filter: drop-shadow(colouring.theme-get(bodyfuzz, colouring.$theme) 0rem 0rem .2rem);
      &:hover {
        animation: logo-bouncy 1s steps(300) infinite;
        animation-timing-function: cubic-bezier(0,.75,1,.50);
        animation-direction: alternate;
      }
      height: 5rem;
    }
  }
  ul {
    margin: unset;
    padding: unset;
    list-style-type: none;

    li {
      @include margin.between(.5em);
      display: inline-block;
    }
  }
}

dl#frontmatter {
  dt {
    margin-left: 1rem;
  }
}

a {
  text-decoration: none;
  @include utility.headings {
    width: fit-content;
  }
}

blockquote {
  border-left: .5rem solid colouring.theme-get("border", colouring.$theme);
  padding: .25rem 1rem;
  margin: .5rem;
}

hr#note {
  border-top-style: solid;
  margin: 1rem 0;
  &::after {
    content: "※";
    font-size: 1.5rem;
    top: -1.4rem;
  }
}

aside {
  box-shadow: 0 0 .2rem .2rem colouring.theme-get(fg, colouring.$theme);
  padding: .25rem 1rem;
  margin: 1rem;
}

h1 {
  text-align: center;
}
.text-center {
  text-align: center;
}

img#avatar {
  float: left;
  margin-right: 1rem;
  margin-bottom: .5rem;
  max-width: 30%;
  border: 2px solid colouring.theme-get(border, colouring.$theme);
  box-shadow: 0 0 .2rem .2rem colouring.theme-get(fg, colouring.$theme);
  border-radius: 2rem;
}

#posts {
  clear: left;
}

ul#taglist a {
  border-radius: 1.5rem;
  padding: .25rem .5rem;
}

ul#taglist {
  float: left;
  gap: 1rem .5rem;
}

.counter {
  display: inline-block;
  width: fit-content;
  min-width: 1.5rem;
  text-align: center;
  margin-left: .5rem;

  border-radius: 0%;
}

cite::before {
  content: "—"
}

/* should be enough levels right??? */
ul {
  list-style-type: "✬ ";
  ul {
    list-style-type: "✫ ";
    ul {
      list-style-type: "✬ ";
      ul {
        list-style-type: "✫ ";
        ul {
          list-style-type: "✬ ";
        }
      }
    }
  }
}

ul.inline-list {
  display: flex;
  li {
    display: inline-block;
  }
  flex-wrap: wrap;
  margin: unset;
  padding: unset;
  gap: .5rem 1rem;
  list-style-type: none;
}

body > header, body > main, body > footer,
.body-wrapper > header, .body-wrapper > main, .body-wrapper > footer {
  padding: .5rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon + h2 {
  margin-left: 0.25em;
}

dialog header {
  display: flex;
  justify-items: stretch;
  align-items: center;

  @include utility.headings {
    margin: unset;
  }
}

.alert-info {
  border-color: #0ac;
}

.alert-error {
  border-color: red;
}

button:hover {
    cursor: pointer;
}

[class^="button-"] {
  border: 1px solid #111;
  border-radius: .25rem;
}

.button-primary {
  background: #09d;
  color: #fff;
}

.button-warning {
  background: #da0;
  color: #fff;
}

.button-success {
  background: #0d6;
  color: #fff;
}

.button-error {
  background: #d22;
  color: #fff;
}

.button-text {
  background: none;
  border: none;
}

main {
  a:has(img) {
    img {
      display: block;
      margin: 0 auto;
      border-bottom: 4px solid colouring.theme-get("a-link", colouring.$theme);
    }
  }
  a:has(img) + a:has(img) {
    img {
      margin-top: 1rem;
    }
  }
  a:has(img):hover img {
    border-bottom: 4px solid colouring.theme-get("a-hover", colouring.$theme);
  }
}

dialog.one-line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  header {
    display: flex;
    align-items: center;

    @include utility.headings {
      margin: unset;
    }
  }
}

.margin-center {
    margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

form.table fieldset {
    display: table;
    .row {
        display: table-row;
    }
    label {
        padding-right: 1rem;
    }
    label, input:not([type="submit"]) {
        margin-bottom: 1rem;
    }
    .cell, label, input {
        display: table-cell;
    }
}

div.quote {
  padding: 1rem;
}

@keyframes logo-bouncy {
    0% { transform: rotate(20deg); padding-bottom: 0px; }
    50% { transform: rotate(0deg); padding-bottom: 10px; }
    100% { transform: rotate(-20deg); padding-bottom: 0px; }
}
