@use "reset";
@use "utility";
@use "margin";
@use "padding";
@use "sticky-footer";
@use "container";
@use "typography";
@use "colouring";

header nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  @include utility.headings {
    margin: unset;
    padding: unset;
  };

  .logo {
    vertical-align: middle;
    a {
      border-bottom: initial;
      &:hover {
        background-color: initial;
      }
    }
    img, h1 {
      display: inline-block;
    }
    img {
      &:hover {
        animation: logo-bouncy 1s steps(300) infinite;
        animation-timing-function: cubic-bezier(0,.75,1,.50);
        animation-direction: alternate;
      }
      height: 5rem;
    }
  }
  ul {
    margin: unset;
    padding: unset;
    list-style-type: none;

    li {
      @include margin.between(.5em);
      display: inline-block;
    }
  }
}

a {
  text-decoration: none;
  @include utility.headings {
    width: fit-content;
  }
}

a:hover {
  text-decoration: underline;
}

body > header, body > main, body > footer,
.phx-connected > header, .phx-connected > main, .phx-connected > footer {
  padding: .5rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.icon + h2 {
  margin-left: 0.25em;
}

dialog header {
  display: flex;
  justify-items: stretch;
  align-items: center;

  @include utility.headings {
    margin: unset;
  }
}

.alert-info {
  border-color: #0ac;
}

.alert-error {
  border-color: red;
}

button:hover {
    cursor: pointer;
}

[class^="button-"] {
  border: 1px solid #111;
  border-radius: .25rem;
}

.button-primary {
  background: #09d;
  color: #fff;
}

.button-warning {
  background: #da0;
  color: #fff;
}

.button-success {
  background: #0d6;
  color: #fff;
}

.button-error {
  background: #d22;
  color: #fff;
}

.button-text {
  background: none;
  border: none;
}

dialog.one-line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  header {
    display: flex;
    align-items: center;

    @include utility.headings {
      margin: unset;
    }
  }
}

.margin-center {
    margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

form.table fieldset {
    display: table;
    .row {
        display: table-row;
    }
    label {
        padding-right: 1rem;
    }
    label, input:not([type="submit"]) {
        margin-bottom: 1rem;
    }
    .cell, label, input {
        display: table-cell;
    }
}

@keyframes logo-bouncy {
    0% { transform: rotate(20deg); padding-bottom: 0px; }
    50% { transform: rotate(0deg); padding-bottom: 10px; }
    100% { transform: rotate(-20deg); padding-bottom: 0px; }
}
