@use "utility";

html {
  box-sizing: border-box;
}

html, body {
  @include utility.fill-height;
}

div.body-wrapper {
  min-height: 100vh;
}

body div.body-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
